body {
    background-image: url(backgroundRed.jpg);
    background-size: cover;
    
}



button {
    opacity: 0.1;
}

#container {
    width:100%;
    position:flex;
}
#container > img {
    width:100%;
    max-width:715px; /* real image width */
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
}